@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");

:root {
  --primaryColor: #3cb878;
  --primaryTrans: #3cb878bb;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --pink: #f4246c;
  --small: 768px;
  --medium: 992px;
  --large: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", sans-serif;
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: var(--primaryColor);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primaryColor);
}

.container {
  padding: 10%;
}
