.about {
  padding: 0 5rem;
}

.about h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.about article {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  max-width: 800px;
  height: auto;
  margin: 0 auto 2rem;
  padding: 4rem;
  text-align: right;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='210' %3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M375.500,1.000 C558.030,1.000 806.259,-9.452 781.000,116.000 C762.488,207.944 546.861,185.946 438.000,195.000 C140.149,219.773 -13.071,219.045 2.000,117.000 C18.668,4.142 192.970,1.000 375.500,1.000 Z'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.about article:nth-child(2n) {
  flex-direction: row-reverse;
}

.about article:nth-child(3) {
  text-align: left;
}

.about article h2 {
  color: var(--darkGrey);
  position: relative;
  z-index: 1;
}

.about article:nth-child(3) .bgImg {
  transform: scaleX(-1);
}

.about article p {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  z-index: 1;
}

.about article .mainImg {
  min-width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 250px;
  margin: 0 3rem;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .about {
    padding: 0 1.5rem;
  }

  .about article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    padding: 4rem;
    text-align: center;
  }

  .about article:nth-child(2n) {
    flex-direction: column;
  }

  .about article:nth-child(3) {
    text-align: center;
  }

  .about article .mainImg {
    height: 150px;
    min-width: 150px;
    margin-bottom: 1rem;
  }
}
