.flavors-page {
  padding: 0 5rem;
  width: 90vw;
  text-align: center;
  margin: 0 auto;
}

.flavors-page h1 {
  margin-bottom: 1rem;
}

.flavors-page .top {
  margin: 0 auto 2rem;
  width: 70%;
  position: relative;
  padding: 4rem;
}

.flavors-page .top p {
  z-index: 1;
  position: relative;
  letter-spacing: 1px;
}

.flavors-page .top img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.flavors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 3rem;
  margin: 0 auto;
  overflow: hidden;
}

.flavor-card {
  position: relative;
  box-shadow: 4px 6px 13px -5px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  overflow: hidden;
}

.img-container {
  position: relative;
  width: 100%;
  padding: 2rem;
  background-color: var(--mainWhite);
}

.img-container::before {
  content: "";
  background-image: url("../images/waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: 0;
}

.flavor-card:nth-child(2n) .img-container::before {
  transform: scaleX(-1);
}

.flavor-card:nth-child(3n) .img-container::before {
  height: 70%;
}

.flavor-card:nth-child(4n) .img-container::before {
  height: 50%;
}

.flavor-card-info {
  padding: 0 20px;
  position: absolute;
  height: 0px;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--mainGrey);
  transition: height 0.5s ease-in-out, color 0.2s step-end;
  text-align: center;
  letter-spacing: 1px;
  color: transparent;
}

.img-container:hover > .flavor-card-info {
  height: 100%;
  color: var(--mainBlack);
}

.flavor-card-icons {
  color: inherit;
}

.flavor-card h2 {
  text-align: center;
  color: var(--primaryColor);
  background-color: var(--mainGrey);
  padding: 0.75rem 1rem;
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .flavor {
    width: 100vw;
  }

  .flavors-page .top {
    margin: 0 auto 3rem;
    width: 100%;
    padding: 3rem;
  }
}

@media (max-width: 576px) {
  .flavors-page {
    width: 100vw;
    padding: 1rem;
  }

  .flavors-page .top {
    margin: 0 auto 3rem;
    width: 100%;
  }
}
