.home {
  background-color: var(--primaryColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
}

.hero {
  text-align: center;
  color: var(--mainWhite);
}
.hero p {
  font-size: 4rem;
  font-weight: bold;
}

.hero span {
  font-family: "Lobster", sans-serif;
  font-size: 10rem;
}
