.header {
  height: 12vh;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mainWhite);
  color: var(--offWhite);
  position: relative;
  margin-bottom: 5rem;
}

.header.home {
  display: none;
}

.header .link {
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.125rem 0;
  position: relative;
}

.header .link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--primaryColor);
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.header .link.active::after {
  width: 100%;
}

.header .link.home,
.header h1.home {
  display: none;
}

.header::after {
  content: "";
  background-image: url("../images/drip3.svg");
  background-repeat: repeat-x;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  transform: translateY(90%);
}

.burger {
  color: var(--primaryColor);
  font-size: 2.5rem;
  display: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 1rem 3rem;
    text-align: center;
  }
  h1 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 1rem 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  h1 {
    flex-basis: 80%;
  }
  .burger {
    display: block;
    flex-basis: 20%;
    align-self: center;
    margin-bottom: 0.5rem;
  }
  .header .link.active {
    border: none;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .navOpen {
    display: flex;
  }
  .navClosed {
    display: none;
  }
}

@keyframes wipe {
  0% {
    height: 100vh;
  }
  80% {
    height: 35vh;
  }
  100% {
    height: 40vh;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
